.left-Button {
    position: relative;
    top: 30vh;
    left: 0;
    font-size:2rem;
    color:red;
   
}

.right-button {
    position: absolute;
    top: 30vh;
    right: 0;
    font-size:2rem;
    color:red;
}

/* button{
       
    } */